@import url('https://fonts.googleapis.com/css?family=Tangerine');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color:#e0be9a;
}
h2 {
  font-size: 46px;
    line-height: 54px;
    color: white;
    font-family:initial;
}
h4 { 
font-size: 20px;
color:black;
}
h6 {
    font-weight: 700;
    font-size: 12px;
    
}
h5{font-size: 20px;
    color:white;
    
}
p {
font-size: 16px;
color: white;
margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin:40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;

}


body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fef4df ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;

}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style:none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration:none ;
    font: size 16px;
    font-weight: 600;
    color: #1a1a1a ;
    transition: 0.3s ease;
}
.bx-user-circle{
    font-size: 35px;
}
#navbar li a:hover,
#navbar li a.active
{
color:#088178
}
#navbar li a.active::after,
#navbar li a:hover::after {
content: "";
width: 30%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left:20px;
}

#mobile{
    display: none;
    align-items: center;
    
} 
#close{
    display: none;

  }
  
#hero{
background-image: url("pexels-moujahed-jouini-4047471.jpg");
height: 90vh;
height: 500px;
width:100%;
background-size:cover;
background-position: top 25% right 0;
padding: 0 80px;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color:#10b7ac
}
#hero button
{
background-image: url("button.png");
background-color: transparent;
color: white;
border: 0;
padding: 14px 80px 14px 65px;
background-repeat: no-repeat;
cursor:pointer;
font-weight: 700;
font-size: 15px;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .fe-box img {
    width: 100%;margin-bottom: 10px;

}
#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: #fef4df;

}

#product1{
    text-align: center;
}
#product1 .pro > img[src="img/products/f5.jpeg"] {
    height: 385px;
  }
  #product1 .pro > img[src="img/products/f8.jpeg"] {
    height: 385px;
  }
  #product1 .pro > img[src="img/products/f12.jpeg"] {
    height: 350px;
  }
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding :10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba (0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 h2,
#product1 p{
  color: #000;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des  {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    

}




#product1 .pro img {
    width: 100%;
    border-radius: 20px;

}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;

}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    
    
}

h2 span {
    color: red;
  }
#banner button:hover{
    background: skyblue;
    color: white;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: skyblue;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}

#sm-banner .banner-box:hover button {

    background:#088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b5.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("img/banner/b7.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b6.jpg");
}

#banner3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 18px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    color: white;
    font-weight: 700;
    font-size: 22px;
}
#newsletter p {
    color: #818ea0;
    font-weight: 600;
    font-size: 14px;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fef4df;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer .follow i {
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer  .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}


.logo {

  height: 100px;
  width: 100px;
}
.section-p1 .col p:nth-child(n+2) {
   color: #000;
  }

/* blog page */
#page-header.blog-header {
    background-image: url("touness.avif");

}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box {
display: flex;
align-items:center;
width: 100%;
position: relative;
padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
  
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details p{
color: black;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 30px;
}


#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover:after{
    background-color: #088178;
}
#blog .blog-box h1{
    position:absolute;
    top: -60px;
    left: 0;
    font-size: 40px;
    font-weight: 500;
    color: #e0be9a;
    z-index: -9;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#blog .blog-box h4{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*body {
    background-image: url('djerba.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }*/
  .reclamation-page {
    background-image: url('back\ rec.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-reclamation {
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    max-width: 500px;
  }
.form-reclamation {
    max-width: 500px;
    margin: 0 auto;
    padding: 100px;
    background-color: #e0be9a;
    border-radius: 5px;
  }
  .form-reclamation h2{
    color: #054016;
    padding:10px 5px 10px 0px;
    width: 500px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #054016;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #178a2a;
  }
  



@media (max-width:799px){
    .section-p1{
        padding : 40px 40px ;
    }

    #navbar{
        display:flex ;
        flex-direction: column;
        align-items: center ;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;


    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;


    }




#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    font-size: 24px;


}
#lg-bag{
    display: none;

}
#hero{
   
    height: 70vh;
   padding: 0 80px;
   background-position: top 30% right 30% ;
    
}
#feature{
    justify-content: center ;

}
#feature .fe-box {
    margin:15px 15px ;
}

#product1 .pro-container {
    
    justify-content: center ;
    
}
#product1 .pro{
    margin: 15px;

}
#banner{
    height: 20vh;

}
#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
}
#banner3{
    padding: 0 40px ;
}
#banner3 .banner-box{
   width: 28px; 
}
#newsletter.form{
   
    width: 70%;
}
}

#page-header {

background-image: url("img/banner/b1.jpg");
width: 100%;
height: 40vh;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}


#page-header p {
    
color: white;}

#pagination {
    text-align: center;
    
}
 #pagination a {   
text-decoration: none; 
background-color:  lightgreen;
padding: 15px 20px;
border-radius: 4px;
color: white;
font-weight: 600;

}

#pagination a i {    
font-size: 16px;
font-weight: 600;
}
/* single product */
#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;    
}

.small-img-groupe{
display: flex;
justify-content: space-between;    

}

.small-img-col
{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details
{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4
{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2
{
    font-size: 26px;

}

#prodetails .single-pro-details select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button
{
    background: #088178;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

#prodetails {
    display: flex;
    flex-direction: column;
}

#prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
}

#prodetails .single-pro-details {
    width: 100%;
    
}

/* contact */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span {
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0 ;
    color: #000;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px ;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
   font-size: 14px;
   padding-left: 22px;
   color: #000;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
 #contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;  
  border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form h2{
    color: #000;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;

}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: #000;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Cart Page*/

#cart table{
    width: 100%;
    border-collapse: collapse ;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
   font-size: 13px; 
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
}
#coupon{
width:50% ;
margin-bottom: 30px;

}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60% ;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom:30px ;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
/* login and register */

.backgroundd{
    width: 100%;
    height: 100vh;
    background: url(pexels-moujahed-jouini-4047471.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    
   


}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('pexels-moujahed-jouini-4047471.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:10px ;
    margin-top: 20px;

}
.container .content{
    position: absolute;
    top :0;
    left: 0;
    width: 58%;
    height: 100%;
  color: white;
  padding: 80px;
  display: flex;
  background-color: transparent;
  
  flex-direction: column;
   

}
.content .logo { 
    font-size: 50px;
    color:white;
    display: flex;
    margin-top: 10px;


    
    

}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
  

    
}
.content h2 span {
    font-size: 25px;
    color: white;
}
.text-sci p{
    font-size: 16px;
    margin: 19px 0;
}
.social-icons a i{ 
    font-size: 22px;
    color: white;
    margin-right: 10px;
    transition: .5s ease ;
    
}
.social-icons a:hover i{
    transform: scale(1.2);
}

.container .logreg-box{
    position: absolute;
    top :0;
    right: 0;
    width: calc(100% - 61%);
    height: 100%;
    overflow: hidden ;
    
}
.logreg-box .form-box{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center ;
    width: 100% ;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px) ;
    border-top-right-radius: 10px;
    border-bottom-right-radius : 10px;
    color: white;
}

.logreg-box .form-box.login {
    transform: translateX(0) ;
    transition: transform .6s ease  ;
    transition-delay: .7s ;
}

.logreg-box.active .form-box.login {
    transform: translateX(430px) ;
    transition-delay: 0s; 
}

.logreg-box .form-box.register{
    transform:translateX(430px) ;
    transition: transform .6s ease ;
    transition-delay: 0s;

}
.logreg-box.active .form-box.register{
    transform:translateX(0) ;
    transition-delay: .7s;

}
.form-box h2{
    font-size: 32px;
    text-align: center ;
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white ;
    margin: 30px 0 ;

}
.input-box input {
    width: 100% ;
    height: 100%;
    background: transparent;
    border: none ;
    outline: none ;
    font-size: 16px;
    color: white ;
    font-weight: 500;
    padding-right: 28px;
    
}
.input-box label { 
    position: absolute;
    top:50% ;
    left: 0;
    transform: translate(-50%) ;
    font-size: 16px;
    font-weight: 500;
    pointer-events: none ;
    transition: .5s ease ;

}
.input-box input:focus~label ,
.input-box input:valid~label {
    top: -5px;
}
.input-box .icon {
    position: absolute ;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.remember-forgot{
    font-size: 14.5px;
     font-weight: 500;
     margin: -15px 0 15px  ;
     display: flex ;
     justify-content: space-between;


}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;

}
.remember-forgot a {
    color: white ;
    text-decoration: none ;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: beige ;
    border: none ;
    outline: none ;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);}
 
    .form-box .login-register {
        font-size: 14.5px ;
        font-weight: 500;
        text-align: center ;
        margin-top: 25px;

    }
    .login-register p a {
        color: white  ;
        font-weight: 600;
        text-decoration: none ;
    }
 
    .login-register p a:hover{
        text-decoration: underline;
    }
   






















