<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culturize.tn</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" ></script>

</head>
<body>
   
   <section id="header"> 
    <a href="#"><img src="logo.png" class="logo" alt=""> </a>
    <div>
        <ul id="navbar">
            <li><a   href="index.html" >Home</a></li>
            <li><a  href="shop.html" >Shop</a></li>
            <li><a class="active" href="blog.html" >Blog</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="contact.html" >Contact</a></li>
            <li id="lg-bag"><a href="cart.html" > <i class="fas fa-shopping-cart cart"></i></a></li>
            <a href="#" id="close"> <i class="far fa-times "> </i></a>
        </ul>

    </div>
    <div id="mobile">
        
    <a href="cart.html" > <i class="fas fa-shopping-cart cart"></i></a>

    <i id="bar" class ="fas fa-outdent"> </i>
</div>
   </section>
   <section id="page-header" class="blog-header">
   <h2>#EnSavoirPlus</h2>
   <p> Découvrez la culture Tunisienne à travers notre Blog</p>
</section>

<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="vetements.avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>Les habits traditionnels de la Tunisie</h4>
        <p>Le 16 mars de chaque année est célébré, en Tunisie, avec le port d’habits traditionnels  reflétant notre identité, notre culture et nos racines. </p>
   <a href="#">Continuer à lire</a>
   <h1>Habits</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="jebba.jpeg" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>La Jeba Tunisienne</h4>
        <p> La jebba est un vêtement ample qui constitue la pièce principale du costume traditionnel masculin en Tunisie. </p>
   <a href="#">Continuer à lire</a>
   <h1>Habits</h1>
    </div>   <div class="blog-box">
        <div class="blog-img">
            <img src="ojja.avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>L'ojja</h4>
        <p>L'ojja est un plat tunisien à base d'œufs, connu pour sa facilité de préparation.

            Les ingrédients principaux sont des œufs, des tomates, des poivrons et des épices (ail, sel, poivre et carvi), le tout étant cuit à l'huile d'olive. D'autres ingrédients peuvent être ajoutés, éventuellement de la merguez.
            
            </p>
   <a href="#">Continuer à lire</a>
   <h1>Plats</h1>
    </div>   <div class="blog-box">
        <div class="blog-img">
            <img src="couscous.jpeg" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>Le Couscous Tunisien</h4>
        <p>
            Le couscous est le plat traditionnel tunisien particulièrement pour les cérémonies. Il est préparé à base de semoule travaillée et cuite à la vapeur mais dont la préparation varie selon la localité.</p>
   <a href="#">Continuer à lire</a>
   <h1>plats</h1>
   
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="lablebi.jpeg" alt="">
        </div>
        <div class="blog-details"></div>
        <h4> Lablebi Tunisien</h4>
        <p>
            Le lablabi est un plat populaire en Tunisie, préparé à base de pois chiches, d'ail, de cumin ou de carvi, d'huile d'olive, de sel, de poivre et de la harissa.</p>
   <a href="#">Continuer à lire</a>
   <h1>Plats</h1>
   
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="centre ville .avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>Le tour d'horloge</h4>
        <p>La Tour de l’Horloge est un édifice de 32 m, de section carrée (4 m de côté). De couleur bronze, elle est habillée de modules métalliques en forme de rosace de 16 pétales. Le cadrant de l’horloge a une forme pyramidale dorée.</p>
   <a href="#">Continuer à lire</a>
   <h1>Monuments</h1>
   
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="sidi bou.avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>Sidi bou Said</h4>
        <p>Célèbre pour ses rues pavées et ses maisons bleues et blanches, Sidi Bou Saïd est un village pittoresque installé sur un promontoire qui surplombe la mer Méditerranée. Des cafés en plein air, des restaurants tunisiens et des petites galeries d'art sont également parsemés sur les hauteurs. </p>
   <a href="#">Continuer à lire</a>
   <h1>Meilleurs endroits</h1>
   
    </div>


    <div class="blog-box">
        <div class="blog-img">
            <img src="djerba.avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>Djerba</h4>
        <p>Djerba est une île de la côte tunisienne connue pour ses plages méditerranéennes et ses villes blanches du désert influencées par les cultures berbère, arabe, juive et africaine.  </p>
   <a href="#">Continuer à lire</a>
   <h1>Meilleurs endroits</h1>
   
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="mosquee.avif" alt="">
        </div>
        <div class="blog-details"></div>
        <h4>La mosquée Zitouna</h4>
        <p>La mosquée Zitouna, ou mosquée de l'olivier, est la principale mosquée de la médina de Tunis. Rattachée au malikisme, elle est le sanctuaire le plus ancien et le plus vaste de la capitale de la Tunisie.</p>
   <a href="#">Continuer à lire</a>
   <h1>Meilleurs endroits</h1>
   
    </div>
</section>

 

    
<section id="pagination" class="section-p1">
<a href="#">1</a>
<a href="#">2</a>
<i class="fas fa-arrow-circle-right"></i>
 
</section>





<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p> Get E-mail updates about our latest shop and <span>special offers.</span>
        </p>
    </div>
<div class="form">
<input type="text" placeholder="Your email address">
<button class="normal">Sign Up</button>
</div>
</section>

 <footer class="section-p1">
    <div class="col">
        <img class="logo" src="logo.png" alt="">
        <h4>Contact</h4>
        <p>
            <strong>Address:</strong> 562 WELINGTOM ROAD, STREET 32, SAN FRANCISCO
        </p> 
        <p>
            <strong>Phone:</strong> +01 2222 356 / (+91) 01 2345 6789
        </p>
        <p>
            <strong>Hours:</strong> 10:00 - 18:00, Mond - Sat
        </p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>      
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Condition</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install APP</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg" alt="">
            <img src="img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="img/pay/pay.png" alt="">
    </div>
    <div class="copyright">
        <p> 2023, Tech2 etc - HTML CSS Ecommerce Template</p>
    </div>
 </footer>




<script src="script.js"></script>

</body>
</html>
 